#apply {
  width: 100%;
  padding: 40px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: stretch;
  }

  fieldset {
    border: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  fieldset p {
    margin: 0;
  }

  input,
  textarea,
  select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }
}

/* TABLET */
@media (min-width: $tablet) {
  #apply {

    form {
      max-width: 700px;
    }

    fieldset {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 16px 24px;
    }

    fieldset p {
      flex: 1 1 calc(50% - 24px);
    }

    input,
    textarea,
    select {
      font-size: 16px;
    }
  }
}

/* DESKTOP SMALL (1024px) */
@media (min-width: $desktop-sm) {
  #apply {

    form {
      max-width: 800px;
    }

    fieldset p {
      flex: 1 1 calc(33.333% - 24px);
    }
  }
}

/* DESKTOP LARGE (1200px+) */
@media (min-width: $desktop-lg) {
  #apply {

    form {
      max-width: 900px;
    }

    fieldset p {
      flex: 1 1 calc(33.333% - 24px);
    }
  }
}
