#partners {
  display: flex;
  flex-direction: column;   /* заголовок + логотипи стовпчиком */
  align-items: center;      /* центр по горизонталі */
  gap: 24px;
}

#partners ul[aria-label="Партнерські компанії"] {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  gap: 24px 40px;
  justify-content: center;  /* горизонтальне вирівнювання */
  align-items: center;      /* вертикальне вирівнювання логотипів */
}
